

<div class="row">
		<div class="col-md-12 col-xl-12">
			<form  method="post" id="deductions" action="{{path('app_loads_save_deductions')}}">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title mb-4">
							{{ "loadDeductions.index.title"|trans }}
						</h4>

						<div class="mb-3">
							<label>{{"loadDeductions.props.description"|trans}}</label>
							<input class="form-control" id="description" type="text" name="description" required="required">
						</div>
						<div class="mb-3">
							<label>{{"loadDeductions.props.amount"|trans}}</label>
							<input class="form-control" id="amount" type="number" name="amount" required="required">
						</div>
						<div class="mb-3" style="display: none;">
							
							<input class="form-control" value="{{load.id}}" id="load" type="text" name="load">
						</div>
						<div class="card-footer">
							<button class="btn btn-success" type="submit">
								<i class="fe fe-save"></i>
								{{ "labels.save"|trans }}
							</button>
						</div>

					</div>
					<!-- end card body -->
				</div>
			</form>
			<!-- end card -->
		</div>
		<!-- end col -->
	</div>