<div class="row">
	<div class="col-md-12 col-xl-12">
		{{ form_start(form) }}
		<div class="card">
			<div class="card-body">
				<h4 class="card-title mb-4">
					{% if form.vars.data.id %}
						{{ "userCompany.edit.title"|trans }}
					{% else %}
						{{ "userCompany.new.title"|trans }}
					{% endif %}
				</h4>

				<div class="mb-3">
					{{ form_label(form.user, "userCompany.props.user"|trans) }}
					{{ form_widget(form.user) }}
				</div>
                <div class="mb-3">
					{{ form_label(form.company, "userCompany.props.company"|trans) }}
					{{ form_widget(form.company) }}
				</div>
                <div class="mb-3">
					{{ form_label(form.discount, "userCompany.props.discount"|trans) }}
					{{ form_widget(form.discount) }}
				</div>
				
				<div class="card-footer">
					<button class="btn btn-success" type="submit">
						<i class="fe fe-save"></i>

						{% if form.vars.data.id %}
							{{ "labels.update"|trans }}
						{% else %}
							{{ "labels.save"|trans }}
						{% endif %}
					</button>

					<a href="{{ path('app_user_company_index') }}" class="btn btn-primary">
						<i class="fe fe-arrow-left"></i>
						{{ "userCompany.index.back_to_index"|trans }}
					</a>
				</div>

			</div>
			<!-- end card body -->
		</div>
		{{ form_end(form) }}
		<!-- end card -->
	</div>
	<!-- end col -->
</div>
