{% extends 'base.html.twig' %}

{% block title %}
	{{ "user.index.title"|trans }}
{% endblock %}

{% import "macros/datatables.html.twig" as macrodatatable %}

{% block stylesheets %}
	{{ macrodatatable.styleDatatable}}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">

					<h4 class="card-title">{{ "user.index.title"|trans }}</h4>
                    <div class="card-options">
							<a href="{{ path('app_user_new') }}" class="btn btn-success">
								<i class="fe fe-plus"></i>
								{{ "user.index.new"|trans }}
							</a>
						</div>
					<p class="card-title-desc">{{ "user.index.description"|trans }}
						
					</p>

					<table id="data_table_users" class="table table-bordered dt-responsive  nowrap w-100">
						<thead>
							<tr>
								<th>
									{{"user.props.email"|trans}}
								</th>
								<th>
									{{"user.props.first_name"|trans}}
								</th>
								<th>
									{{ "user.props.last_name"|trans }}
								</th>
								<th class="text-center no-sort">
									{{ "user.props.actions"|trans }}
								</th>
							</tr>
						</thead>
						
						<tbody>
						
						</tbody>
					</table>

				</div>
			</div>
		</div>
		<!-- end col -->
	</div>
	<!-- end row -->

{% endblock %}
{% block javascripts %}


	{{ macrodatatable.scriptDatatable}}

	<script>


  $(document).ready(function() {
	
	 
      $('#data_table_users').DataTable({
            serverSide: true,
            responsive: true,
            pageLength: 50,
            sPaginationType: "full_numbers",
            language: {
                "url": url_lenguage
            },
            ajax: {
                "url": '/user/table',
                "type": "GET"
            },
            columns: [
                {data: 'email'},
                {data: 'nombres'},
                {data: 'apellidos'},
                {data: 'actions'}               
                ],
            columnDefs: [
                { orderable: false, targets: 3 }
            ],
            order: [[ 0, "desc" ]]
        });
   });
	</script>
{% endblock %}
